# App
NEXT_PUBLIC_APP_NAME=AgroTech
NEXT_PUBLIC_APP_URL=http://localhost:3000

# API
NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_SOCKET_URL=http://localhost:5000

# Auth
NEXT_PUBLIC_TOKEN_KEY=agrotech_token
NEXT_PUBLIC_REFRESH_TOKEN_KEY=agrotech_refresh_token
